<script type="text/template7">
    <div class="page" data-page="event-detail">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link icon-only">
                        <i class="material-icons">arrow_back</i>
                    </a>
                </div>
                <div class="center">Event Detail</div>
                <div class="right">
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-media"><i class="material-icons">work</i></div>
                        <div class="item-inner">
                            <div class="item-title">{{@global.event.name}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="material-icons">label</i></div>
                        <div class="item-inner">
                            <div class="item-title">{{@global.event.type}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="material-icons">event</i></div>
                        <div class="item-inner">
                            <div class="item-title">{{@global.event.date}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="material-icons">alarm</i></div>
                        <div class="item-inner">
                            <div class="item-title">{{@global.event.time}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="material-icons">place</i></div>
                        <div class="item-inner">
                            <div class="item-title">{{@global.event.location}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="material-icons">group_work</i></div>
                        <div class="item-inner">
                            <div class="item-title">{{@global.event.organizer}}</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="gallery">

            </div>
            <!-- Speed Dial Wrap -->
            <div class="speed-dial">
                <!-- FAB inside will open Speed Dial actions -->
                <a href="#" class="floating-button color-pink">
                    <!-- First icon is visible when Speed Dial actions are closed -->
                    <i class="material-icons">more_vert</i>
                    <!-- Second icon is visible when Speed Dial actions are opened -->
                    <i class="material-icons">close</i>
                </a>
                <!-- Speed Dial Actions -->
                <div class="speed-dial-buttons ">
                    <!-- First Speed Dial button -->
                    <a href="#" id="edit" class="color-pink">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a href="#" id="delete" class="color-pink">
                        <i class="material-icons">delete</i>
                    </a>
                    <a href="#" id="report" class="color-pink">
                        <i class="material-icons">comment</i>
                    </a>
                    <a href="#" id="take" class="color-pink">
                        <i class="material-icons">add_a_photo</i>
                    </a>
                    <a href="#" id="choose" class="color-pink">
                        <i class="material-icons">photo_library</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</script>