<script type="text/template7">
    <div class="page" data-page="event-detail">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
                <div class="center">Event Detail</div>
                <div class="right">
                    <p><a href="#" class="button" id="event-edit">Edit</a></p>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-group"></i></div>
                        <div class="item-inner">
                            <div class="item-title">{{event.name}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-calendar"></i></div>
                        <div class="item-inner">
                            <div class="item-title">{{event.date}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-clock-o"></i></div>
                        <div class="item-inner">
                            <div class="item-title">{{event.time}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-map-marker"></i></div>
                        <div class="item-inner">
                            <div class="item-title">{{event.location}}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-media"><i class="fa fa-group"></i></div>
                        <div class="item-inner">
                            <div class="item-title">{{event.organizer}}</div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="content-block-title">
                <span>Gallery</span>
                <span class="pull-right"><a href="#" id="take">Take Image</a></span>
                <span class="pull-right" style="padding-right: 5px"><a href="#" id="choose">Choose Image</a></span>
            </div>
            <div id="gallery">

            </div>
        </div>
    </div>
</script>