<script type="text/template7" id="event">
    <div class="page" data-page="event-form">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="center">{{action}} Event</div>
                <div class="right">
                    <p><a href="#" class="button" id="save-event">Save</a></p>
                </div>
            </div>
        </div>

        <div class="page-content">
            <form id="event-form">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-title label">Event Name</div>
                                <div class="item-input">
                                    <input type="text" id="event-name" name="eventName" placeholder="Event Name">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-title label">Date of event</div>
                                <div class="item-input">
                                    <input type="date" id="event-date" name="eventDate" placeholder="Date of event">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-title label">Start time</div>
                                <div class="item-input">
                                    <input type="datetime-local" id="event-start-time" name="eventStartTime"
                                           placeholder="Start time">
                                </div>
                            </div>
                        </li>
                        <li class="align-top">
                            <div class="item-content">
                                <div class="item-title label">Location</div>
                                <div class="item-input">
                                <textarea class="resizable" id="event-location" name="eventLocation"
                                          placeholder="Location"></textarea>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-title label">Event Organizer</div>
                                <div class="item-input">
                                    <input type="text" id="event-organizer" name="eventOrganizer"
                                           placeholder="Event organizer">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</script>