<script type="text/template7" id="event">
    <div class="page" data-page="event-form">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
                <div class="center">{{action}} Event</div>
                <div class="right">
                    <p><a href="#" class="button" id="save-event">Save</a></p>
                </div>
            </div>
        </div>

        <div class="page-content">
            <form id="event-form">
                <input type="hidden" id="event-id" name="id" value="{{id}}" />
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-group"></i></div>
                                <div class="item-input">
                                    <input type="text" id="event-name" name="name" placeholder="Name" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-calendar"></i></div>
                                <div class="item-input">
                                    <input type="date" id="event-date" name="date" placeholder="Date" />
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-clock-o"></i></div>
                                <div class="item-input">
                                    <input type="time" id="event-time" name="time"
                                           placeholder="Time">
                                </div>
                            </div>
                        </li>
                        <li class="align-top">
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-map-marker"></i></div>
                                <div class="item-input">
                                <textarea class="resizable" id="event-location" name="location"
                                          placeholder="Location"></textarea>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-group"></i></div>
                                <div class="item-input">
                                    <input type="text" id="event-organizer" name="organizer"
                                           placeholder="Organizer" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</script>