<script type="text/template7">
    <div class="page" data-page="image">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
                <div class="center">{{@global.image.name}}</div>
                <div class="right">
                    <p><a href="#" class="button" id="img-remove">Remove</a></p>
                </div>
            </div>
        </div>

        <div class="page-content">
            <img src="{{path}}" style="max-width: 100%" />
        </div>
    </div>
</script>