<script type="text/template7" id="index">
    <div class="page toolbar-fixed" data-page="index">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="open-panel link icon-only">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="center">madDiscovery</div>
                <div class="right">
                    <a href="#" class="link icon-only" id="event-add">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="toolbar tabbar">
            <div class="toolbar-inner">
                <a href="#tab1" class="button tab-link">Tab1</a>
                <a href="#tab2" class="button tab-link">Tab2</a>
                <a href="#tab3" class="button tab-link">Tab3</a>
                <span class="tab-link-highlight"></span>
            </div>
        </div>
        <!--<div class="tabs-swipeable-wrap">
            <div class="tabs">
                <div class="page-content tab active" id="tab1">
                    <div class="content-block">
                        Tab 1
                    </div>
                </div>
                <div class="page-content tab active" id="tab2">
                    <div class="content-block">
                        Tab 2
                    </div>
                </div>
                <div class="page-content tab active" id="tab3">
                    <div class="content-block">
                        Tab 3
                    </div>
                </div>
            </div>
        </div>-->
        <div class="page-content">
            <div class="content-block-title">Events</div>
            <div id="event-list">

                {{#each @global.events reverse="true"}}
                <div class="card">
                    <div class="card-header">
                        <a href="#" id="{{id}}">
                            {{name}}
                        </a>
                    </div>

                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">{{date}} {{time}}</p>
                            <p>{{location}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</script>