<script type="text/template7" id="events">
    <div id="event-list">
        {{#each events reverse="true"}}
        <div class="card">
            <div class="card-header">
                <a href="#" id="{{id}}">
                    {{name}}
                </a>
            </div>

            <div class="card-content">
                <div class="card-content-inner">
                    <p class="color-gray">{{date}} {{time}}</p>
                    <p>{{location}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</script>