<script type="text/template7">
    <div class="page" data-page="map">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
                <div class="center">Map</div>
                <div class="right">
                    <p><a href="#" class="button" id="map-done">Done</a></p>
                </div>
            </div>
        </div>

        <div class="page-content">
            <input id="pac-input" class="controls" type="text" placeholder="Searchbox">
            <div id="map"></div>
        </div>


    </div>
</script>