<script type="text/template7">
    <div class="page" data-page="reports">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link icon-only">
                        <i class="material-icons">arrow_back</i>
                    </a>
                </div>
                <div class="center">Reports</div>
                <div class="right">
                </div>
            </div>
        </div>

        <div class="page-content">

            <div class="report-form">
                {{#js_compare "T7.global.event.ended == 0"}}
                <form id="report-form">
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-input">
                                        <textarea name="content" id="content" class="resizable" placeholder="Report Content"></textarea>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-input">
                                        <button type="submit" class="button">Create</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </form>
                {{else}}
                <div class="content-block">
                    <div class="content-block-title">This event is ended. You cannot create new report.</div>
                </div>

                {{/js_compare}}
            </div>


            <div class="report-list">
                <div class="content-block">

                </div>
            </div>
        </div>
    </div>
</script>